@charset "ISO-8859-1";

#functions{
	transition: transform .2s;
}
#functions :hover{
	  -ms-transform: scale(1.5); /* IE 9 */
  	  -webkit-transform: scale(1.5); /* Safari 3-8 */
	  transform: scale(1.5);
	  box-shadow: 10px 5px 5px #8e88fd;
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1991px;
}

.u-section-1 .u-line-1 {
  left: 0;
  top: 1019px;
  transform-origin: center bottom 0px;
  position: absolute;
}

.u-section-1 .u-shape-1 {
  width: 590px;
  height: 490px;
  margin: 46px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 566px;
  height: 350px;
  margin: -702px 265px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 542px;
  width: 812px;
  object-position: 0% 50%;
  margin: -290px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 390px;
  width: 583px;
  height: auto;
  margin: -125px auto 0 80px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-1 .u-line-2 {
  width: 979px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 80px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  font-size: 1.875rem;
  margin: -36px 979px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 227px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(white, #ccd3db);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 100px;
  width: 100px;
  color: rgb(141, 198, 64) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(white, #ccd3db);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 100px;
  width: 100px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: linear-gradient(white, #ccd3db);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 100px;
  width: 100px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: linear-gradient(white, #ccd3db);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 100px;
  width: 100px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-3 {
  width: 950px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 141px 0 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: -31px 960px 0 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 18px;
  margin-bottom: -166px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 440px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/me.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 29px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 29px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 290px;
  height: 290px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 217px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -707px;
    margin-right: 49px;
  }

  .u-section-1 .u-image-1 {
    height: 507px;
    width: 781px;
    margin-top: -265px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -110px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-1 .u-line-2 {
    width: 779px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 784px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 187px;
  }

  .u-section-1 .u-line-3 {
    width: 728px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 728px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 68px;
    margin-bottom: 31px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 15px 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 15px 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 15px 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3031px;
  }

  .u-section-1 .u-shape-1 {
    width: 436px;
    height: 392px;
    margin-top: 168px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -559px;
  }

  .u-section-1 .u-image-1 {
    height: 353px;
    width: 544px;
    margin-top: -278px;
  }

  .u-section-1 .u-group-1 {
    min-height: 377px;
    width: 501px;
    margin-top: 31px;
    margin-right: 93px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-top: 119px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 573px;
  }

  .u-section-1 .u-line-3 {
    width: 720px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-list-2 {
    margin-top: 15px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 822px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1834px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 350px;
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 39px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
  }

  .u-section-1 .u-text-8 {
    margin-bottom: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 13px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3498px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 220px;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    min-height: 382px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: auto;
    padding-right: 47px;
    padding-left: 47px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-top: 120px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }
}